/**
 * Simple CSS styling
 */
body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #363942;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
}

.container {
	margin: 15px auto;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 0px;
	width: 850px;
}

.header {
	min-height: 80px;
	border-bottom: 1px solid #000000;
	margin-bottom: 15px;
	padding: 15px;
}

.header h1 {
	position: relative;
	vertical-align: center;
	color: #000000;
	margin-bottom: -10px;
}

.subheading {
	color: #000000;
}

.sidebar {
	border-left: 1px solid #000000;
	margin: 0 0 15px 15px;
	padding: 0px 15px 15px 15px;
	float: right;
	width: 175px;
}

.content {
	padding: 0 15px;
}

.footer {
	clear: both;
	border-top: 1px solid #000000;
	padding: 15px;
	margin-top: 15px;
}

/* Horizontal Menu/List */
.menu li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.submenu li {
	display: inline;
	list-style-type: none;
	padding-right: 15px;
	font-size: small;
}

/** Simple outlined table */
table.simple {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.simple th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.simple td {
	vertical-align: top;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

table.datalist td + td {
	white-space:pre;
	font-family:courier new;
}

/** Plain text/monospaced */
.plaintext {
	white-space:pre;
	font-family:courier new;
}

/** Messaging boxes */
.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('success.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('error.png');
}
.validation {
	color: #D63301;
	background-color: #FFCCBA;
}