/* 
 * Simple Theme: Html CSS styling 
 */

/* Horizontal List */
#menu li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#submenu li {
	display: inline;
	list-style-type: none;
	padding-right: 15px;
	font-size: small;
}

table.simple {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.simple th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.simple td {
	vertical-align: top;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
.plaintext {
	white-space:pre;
	font-family:courier new;
}