/*
MySchedule application style.
11/23/2011 <Zemian Deng> saltnlight5@gmail.com
*/
body {
        font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
        color: #333;
        background-color: #fff;
        margin: 0px; 
        padding: 0px;
}

h1 {
        margin-top: 2em;
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1.6em;
        color: #4E6CA3;
        border-bottom: 1px solid #B0BED9;
        clear: both;
}

h2 {
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1.6em;
        color: #4E6CA3;
        clear: both;
}

pre {
        font-size: 1.2em;
        padding: 15px;
        background-color: #F5F5F5;
        border: 1px solid #CCCCCC;
}

a {
        color: #0063DC;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

#topline { background-color: black; width: 100%; height: 5px; }
#pagewrap { padding: 10px; }
#header { height: 50px; position: relative; margin-bottom: 30px; }
#myschedule-logo { font-size: 40px; font-family: Impact; position:absolute; bottom: 0px; }
#myschedule-logo span { color: red; }
#myschedule-logo span + span { color: black; }
#breadcrums-container { position:absolute; left: 220px; bottom: 5px; }
#breadcrums-container a, #breadcrums-container a:link, #breadcrums-container a:visited { color: #555555; text-decoration: none; }
#menu {	margin: 10px 0px 10px 0px; }
#footer { text-align: center; color: #555555; font-size: 0.8em; }
#footer code { font-size: 1.5em; }
#footer a, #footer a:link, #footer a:visited { color: #555555; text-decoration: none; }

.datatable-title { border-bottom: solid 1px black; }

