<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
   
   <description>Java Webapp</description>
   
   <servlet>
      <servlet-name>HelloServlet</servlet-name>
      <servlet-class>deng.hellowebapp.HelloServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>HelloServlet</servlet-name>
      <url-pattern>/hello</url-pattern>
   </servlet-mapping>
   
</web-app>
